html
  head
    style(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    script(src="./A3RT/A3RT_SDK.js")
    title!= title
  body
    form(method="POST", target="./testAPI")
      div
        .form-group
          input(type="text", name="word" value="")
      div
        .btn.btn-default
          input(type="submit", value="送信")