<!DOCTYPE html>
<html lang="ja">

<head>
    <title>達成度</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="cc.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    </script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <style type="text/css">
    #loading{
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      margin: auto;
      width: 200px;
      height: 200px;
    }
    .globalNav {
    list-style: none;
    overflow: hidden;
}
 
.globalNav li {
    float: left;
    border-right: 1px solid #DDD;
}
 
.globalNav li a {
    display: block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #333;
}
 
.globalNav li a span {
    display: block;
    margin: 3px 0 0 0;
    color: #AAA;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 1px;
}
 
.globalNav li a:hover {
    background: #EEE;
}
 
.globalNav li.active a {
    background: #333;
    color: #EEE;
}
.center{
  width: 1000px;
  margin: 0 auto;
}
#chat_display{
  width:1000px;
}
#chart {
  top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
</style>
    
</head>

<body>
  <img src="./img/nobunaga.jpg">
  <ul id="menu" class="globalNav">
  <li><a href="/">タスク</a></li>
  <li class="active"><a href="/chart">達成度</a></li>
  </ul>
  <div class="center">
    <div style="width: 50%" id="chat_display">
        <canvas id="chart" ></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  </div>
</body>

</html>
