<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script type="text/javascript" src="./A3RT/A3RT_SDK.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="cc.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
  <script>
  window.onload = function(){
    $(function() {
      setTimeout("messageIn()", 1000);
    });
  }
  function messageIn(){
    $("#loading").fadeOut();
    $("#message").fadeIn();
  }
  function newMessage(){
    $("#newmessage_loading").fadeOut();
    $('#hiddentr').css("display","");
  }

  $(function() {
    $('#hiddenbtn').click(function() {
      $("#newmessage_loading").css('display','block');
      setTimeout("newMessage()", 1000);
    });
  });
  </script>
  <style type="text/css">
    #message{
      display: none;
    }
    #loading{
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      margin: auto;
      width: 200px;
      height: 200px;
    }
    #newmessage_loading{
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      margin: auto;
      width: 200px;
      height: 200px;
    }
    .thumbnail img{
      border-radius: 20px;
      height: 40px;
      width: 40px;
    }
    p {
      text-align: left
    }

    .globalNav {
    list-style: none;
    overflow: hidden;
}
 
.globalNav li {
    float: left;
    border-right: 1px solid #DDD;
}
 
.globalNav li a {
    display: block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #333;
}
 
.globalNav li a span {
    display: block;
    margin: 3px 0 0 0;
    color: #AAA;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 1px;
}
 
.globalNav li a:hover {
    background: #EEE;
}
 
.globalNav li.active a {
    background: #333;
    color: #EEE;
}
  </style>
</head>
  <body>
  <img src="./img/nobunaga.jpg">
  <ul id="menu" class="globalNav">
    <li class="active"><a href="/">タスク</a></li>
    <li><a href="/chart" id="clickChart">達成度</a></li>
  </ul>
  <div id="loading"><img src="./img/gif-load.gif"></div>
    <div id="message">
      <table class="table table-striped">
        <th class="col-md-1" id="hiddenbtn">
        </th>
        <th class="col-md-2">
          ジャンル
        </th>
        <th class="col-md-1">
          日付
        </th>
        <th class="col-md-5">
          <p>本文</p>
        </th>
        <th class="col-md-2">
          タグ
        </th>
        <th class="col-md-1">
          担当者
        </th>

        <tr>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
          <td>
            営業
          </td>
          <td>
          2017/06/23
          </td>
          <td>
            AAA社に、6月30日までに営業にいく。<br>うちの新サービスXXXに興味ありそうです。<br>担当者は佐藤さんです。
          </td>
          <td>
          うち, 興味, サービスXXX, 担当者, AAA社, 佐藤            
          </td>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
        </tr>

        <tr>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
          <td>
            ITエンジニア(システム開発・SEインフラ)
          </td>
          <td>
          2017/06/23
          </td>
          <td>
            CCC社の案件で、ウェブサービスの開発が遅延しています。<br>UIのデザインをやってほしいです。<br>7月10日までに納入してください。
          </td>
          <td>          
          ウェブサービス, 案件, ほしい, 遅延, 開発, CCC社, C#  
          </td>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
        </tr>

        <tr>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
          <td>
            ITエンジニア(システム開発・SEインフラ)
          </td>
          <td>
          2017/06/23
          </td>
          <td>
            BBBプロジェクトのデータベース関連の仕様書作成をできるかた、お願いします。<br>急ぎです。1週間以内で。<br>詳細は斉藤まで。
          </td>
          <td>
            仕様書作成, データベース関連, BBBプロジェクト, 以内, 詳細, 斉藤            
          </td>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
        </tr>

        <tr>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
          <td>
            事務・管理
          </td>
          <td>
          2017/06/23
          </td>
          <td>
            CCC案件です。コーディングお願いします
          </td>
          <td>   
          CCC案件, コーディング         
          </td>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
        </tr>

        <tr id="hiddentr" style="display:none">
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
          <td>
            事務・管理
          </td>
          <td>
          2017/06/23
          </td>
          <td>
            トイレが詰まりました。助けて。。。
          </td>
          <td> 
          トイレ, 助け          
          </td>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
        </tr>
      </table>
    </div>
    <div id="newmessage_loading" style="display:none"><img src="./img/gif-load.gif"></div>
  </body>
</html>