<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script type="text/javascript" src="./A3RT/A3RT_SDK.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>
  var mail_content,sender,title;
  window.onload = function(){
    $(function() {

      
      setTimeout("messageIn()", 2000);

    });
  }
  function messageIn(){
    $("#loading").fadeOut();
    $("#message").fadeIn();
  }

  mail_content = "システムの企画から開発・運用まで幅広く関われます。";
  a3rt_text_classification("DtmErtQG0TzyOQ0LNZDGHaRpmNrb5Khs", "default", mail_content)
            .done(function(json){ 
              $(function() {
                $('#message').append(JSON.stringify(json.classes[0]["label"]));
                
              });
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) { alert("error")} );
  </script>
  <style type="text/css">
    #message{
      display: none;
    }
    #loading{
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      margin: auto;
      width: 200px;
      height: 200px;
    }
    .thumbnail img{
      border-radius: 20px;
      height: 40px;
      width: 40px;
    }
    p {
      text-align: left
    }
  </style>
</head>
  <body>
  <div id="loading"><img src="./img/gif-load.gif"></div>
    <div id="message">
      <table class="table table-striped">
        <th class="col-md-1">
        </th>
        <th class="col-md-2">
          ジャンル
        </th>
        <th class="col-md-1">
          日付
        </th>
        <th class="col-md-5">
          <p>本文</p>
        </th>
        <th class="col-md-2">
          タグ
        </th>
        <th class="col-md-1">
          担当者
        </th>

        <tr>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
          <td>
            営業
          </td>
          <td>
          2017/06/23
          </td>
          <td>
            AAA社に、6月30日までに営業にいく。<br>うちの新サービスXXXに興味ありそうです。<br>担当者は佐藤さんです。
          </td>
          <td>
          うち, 興味, サービスXXX, 担当者, AAA社, 佐藤            
          </td>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
        </tr>

        <tr>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
          <td>
            ITエンジニア(システム開発・SEインフラ)
          </td>
          <td>
          2017/06/23
          </td>
          <td>
            CCC社の案件で、ウェブサービスの開発が遅延しています。<br>UIのデザインをやってほしいです。<br>7月10日までに納入してください。
          </td>
          <td>          
          ウェブサービス, 案件, ほしい, 遅延, 開発, CCC社, C#  
          </td>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
        </tr>

        <tr>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
          <td>
            ITエンジニア(システム開発・SEインフラ)
          </td>
          <td>
          2017/06/23
          </td>
          <td>
            BBBプロジェクトのデータベース関連の仕様書作成をできるかた、お願いします。<br>急ぎです。1週間以内で。<br>詳細は斉藤まで。
          </td>
          <td>
            仕様書作成, データベース関連, BBBプロジェクト, 以内, 詳細, 斉藤            
          </td>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
        </tr>

        <tr>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
          <td>
            事務・管理
          </td>
          <td>
          2017/06/23
          </td>
          <td>
            トイレが詰まりました。助けて。。。
          </td>
          <td> 
          トイレ, 助け          
          </td>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
        </tr>

        <tr>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
          <td>
            事務・管理
          </td>
          <td>
          2017/06/23
          </td>
          <td>
            CCC案件です。コーディングお願いします
          </td>
          <td>   
          CCC案件, コーディング         
          </td>
          <td>
            <div class="thumbnail">
              <img src="./img/face.jpg">
            </div> 
          </td>
        </tr>

      </table>
    </div>
  </body>
</html>